.content{
    background: linear-gradient( #c211e6, #171b92);
    display: flex;
    margin: 60px auto 20px;
    padding: 0 16px;
    height: 660px;
    flex-direction: column;
    align-items: center;
}
.card-container {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    /* height: 40px; */
    /* width: 200px; */
    margin: 0 8px 16px;
    /* padding: 16px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .material-icon{
      margin: 5px;
  }

  .bttn{   
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #FFF;
    background: #7910dbe8;
    border:  10px #7910dbe8;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
  }

  .card-container .card {
    display: flex;
    /* flex-grow:inherit; */
    background-color: white;
    color: black;
    margin: 10px;
    /* padding: 0 16px; */
    width: 450px;
    height: 200px;
    /* padding-left: 100px; */
     /* max-height: max-content;  */
    /* max-height: 940px; */
    flex-direction: column;
    /* align-items: center; */
    padding: 25px;
    /* gap: 26px; */
    /* justify-content: space-between; */
  }

  .card-container .co{
    align-items: center;
  }

  .card-container .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  

  .card-container .card:hover .material-icon {
    color: #7910dbe8;
  }

  .sentence{
      color: white;
      margin-top: 170px;
  }

  .box{
    display: flex;
    margin: 40px auto 20px;
    padding: 0 16px;
    height: 725px;
    flex-direction: column;
    align-items: center;
  }

  .box-2{
    display: flex;
    margin: 5px;
    padding: 0 16px;
    height: 600px;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .box-3{
    display: flex;
    margin: 150px auto 20px;
    padding: 0 16px;
    height: 695px;
    width: 720px;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0d1;
  }
  
  .head{
    background-color: #e0e0d1 ;
    padding: 6px;
    position: absolute;
    border-radius: 7px;
    margin-bottom: 140px;
  }

  .ca{
    padding: 50px;
    margin-top: 16px;
  }

  .card-container-1{
    padding: 80px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 25px;
    margin-right: 495px;
  }
  
  .card-1 {
    display: flex;
    background-color: white;
    color: black;
    /* margin: 10px; */
    width: 550px;
    height: 280px;
    /* padding-left: 100px; */
     /* max-height: max-content;  */
    /* max-height: 940px; */
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    /* height: 40px; */
    /* width: 200px; */
    /* margin: 0 8px 16px; */
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* transition: all 0.2s ease-in-out; */
    /* line-height: 24px; */
    align-items: flex-start;
  }
